@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
td {
  color: white;
}
body {
  @apply bg-[#1D1F3B];
}
@layer components {
  .gradientPrimary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#81F9CB] to-[#BC84FF];
  }
  .gradientBackground {
    @apply bg-gradient-to-r transition-all hover:scale-105  from-[#81F9CB] to-[#BC84FF];
  }
}
#container {
  width: 200px;
  height: 200px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
